
ip-configuration .error-msg {

      font-size: 11px;
      color: red;
}

ip-configuration  .ip-web-icon {
    font-size: 1.8rem;
    color: #00b5ae;
    font-weight: bold;
}

ip-configuration .wp-save {
    background: #00b5ae;
    color: white;
}


