<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-7">

            <form [formGroup]="configForm">
                <div class="row" formArrayName="ipList">
                      <div class="col-md-12">
                        <label>Add/Remove IP Addresses</label>
                      </div>

                      <div class="col-md-7"
                           *ngFor="let item of ipList.controls; let i=index" [formGroupName]="i">

                            <div class="row">
                                <div class="col-md-8 py-2">
                                  <div>
                                    <input formControlName="ipValue" class="form-control" />
                                  </div>
                                  <div>
                                    <span [hidden]="item.valid" class="error-msg">please enter valid address eg: 255.255.255.255</span>
                                  </div>
                                </div>
                                <div class="col-md-2 py-2">
                                  <button class="btn btn-sm" (click)="removeIpAddress(i)">
                                    <i class="ip-web-icon material-icons">
                                      remove
                                    </i>
                                  </button>
                                </div>

                                <div class="col-md-2 add-ip-cls py-2" [hidden]="!(i === ipList.length - 1)">
                                    <button class="btn btn-sm" (click)="addIpAddress()">
                                        <i class="ip-web-icon material-icons">
                                          add
                                        </i>
                                    </button>
                                </div>

                            </div>

                      </div>

                </div>
            </form>
        </div>

        <div class="col-md-7">
            <button class="btn btn-sm btn-success"
                    (click)="saveIpAddress()"
                    [disabled]="!canSave()">Save</button>
        </div>

    </div>

</div>
